.add-item-btn{
    align-self: right;
}

.visibility-select{
    color: black !important;
}

.selected-img, .non-selected-img{
    border-radius: 4px;
    transition: 200ms;
}

.selected-img:hover, .non-selected-img:hover{
    cursor: pointer;
}
.selected-img{
    border: 3px solid rgb(34, 168, 112);
}

.non-selected-img{
    border: 3px solid #E2E2E2;
}

.selected-user{

}
