@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body{
    /* background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%) !important; */
    /* background: #6190e8; /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #6190e8, #a7bfe8); Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #6190e8, #a7bfe8); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-size: contain !important;  */
    background: #a7bfe8 !important;
}

#content{
    margin-top: 10vh;
    min-height: 90vh;
}

.page-title {
    color: white;
    font-size: 3em;
    font-weight: 100;
    text-align: center;
    letter-spacing: 3px;
    position: relative;
}

.page-title::after{
    content: '';
    width: 60px;
    height: 2px;
    background: #fed766;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: -12.5px;
}

.modal-title, .page-title, .item-card-title {
    font-family: 'Playfair Display', serif;
}

.modal-dialog-scrollable .modal-body{
    overflow-x: hidden !important;
}

.modal-content{
    border-radius: 5px !important;
    border: none !important;
    padding: 2%;
}

.modal-title.h4{
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
}

.modal-title.h4{
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
}

.modal-header{
    border-bottom: none !important;
}

.centered-btn{
    margin-left: 50%;
    transform: translateX(-50%);
}

.btn{
    transition: 250ms !important;
}

.btn:not(.del-btn):hover{
    color: white !important;
    border-color:  #fed766 !important;
    background:  #fed766 !important;
}

.cover-div{
    width: 100vw;
    height: 100vh;
}