.empty-img, .empty-line, .empty-btn{
    /* background: #E2E2E2; */
    background: linear-gradient(-90deg, #F0F0F0 0%, #F8F8F8 50%, #F0F0F0 100%);
    animation: pulse 1.2s ease-in-out infinite;
    background-size: 400% 400%;
}

@keyframes pulse {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: -135% 0%;
    }
}

.empty-img{
    width: 100%;
    height: 150px;
}

.empty-btn{
    height: 1.25rem;
    width: 25%;
}

.empty-line{
    height: 1rem;
}

.empty-title{
    height: 1.2rem;
    width: 60%;
}

.empty-line-1{
    width: 90%;
}

.empty-line-2{
    width: 100%;
}

.empty-line-3{
    width: 70%;
}
