body{
    overflow-x: hidden;
}

/* .main-container{
    background: #87e3e5;
} */

.login-form-container{
    padding-top: 50vh !important;
    transform: translateY(-25%);
}

.form-title{
    font-family: 'Roboto';
    font-weight: 100;
    text-align: center;
}

.login-field, textarea{
    text-align: center;
}

.login-btn{
    margin-left: 50%;
    transform: translateX(-50%);
    border: 3px solid #EEE3E9 !important;
    /* border: 2px solid #87e3e5 !important; */
    background: white !important;
    color: gray !important;
    transition: 250ms !important;
}

.login-btn:hover{
    background: #EEE3E9 !important;
    /* background: #87e3e5 !important; */
    color: white!important;
    font-weight: bold;
}

.login-form-body{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.was-validated .form-control:valid {
    background-image: none !important;
}