.main-container{
    width: "100vw";
    height: "100vh";
}

.login-form-container{
    padding-top: 50vh !important;
    transform: translateY(-25%);
}

.form-title{
    font-family: 'Roboto';
    font-weight: 100;
    text-align: center;
}

.login-field{
    text-align: center;
}

.login-btn{
    margin-left: 50%;
    transform: translateX(-50%);
    transition: 250ms !important;
}

.login-form-body{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.was-validated .form-control:valid {
    background-image: none !important;
}

.alert-window{
    padding-top: 50vh !important;
}
.login-alert{
    z-index: 100;
}