@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.navbar{
    background-color: rgba(0,0,0,0); /* unneeded but helps with transitions */
    transition: 300ms !important;
}

.navbar-scrolled{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.045);
    transition: 500ms !important;
}

.navbar-brand{
    font-weight: bold;
    transition: 300ms !important;
    color: white !important;
}

.brand-text {
    font-family: 'Playfair Display', serif !important;
}

.navbar-brand:hover, .navbar-brand-scrolled:hover {
    color: #fed766 !important;
}

.navbar-brand-scrolled{
    color: black !important;
    transition: 300ms !important;
}

.user-img{
    border-radius: 50%;
    object-fit: scale-down;
    background: white;
}
