.sweet-alert {
    animation: none !important
}

.int-users-list {
    max-height: 250px;
    overflow-y: scroll !important;
}


.int-users-list::-webkit-scrollbar{
    width: 0 !important;
}

li {
  list-style-type: none;
}
