.user-tag{
    width:100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.border-on{
    border: 1px solid #cecece
}

.int-user-modal{
    height: 50vh !important;
    top: 50% !important;
    transform: translateY(-50%);
}

.int-user-modal .modal-body{
    padding-bottom: 10px !important;
}

.int-user-modal-backdrop.fade.modal-backdrop.show{
    z-index: 1052 !important;
}
