#content{
    margin-top: 10vh;
}

.page-title{
    font-weight: 200;
    text-align: center;
}

.add-btn{
    margin-left: 50%;
    transform: translateX(-50%);
}

.item-col{
    padding-right: 0px;
}

.modal-header{
    border-bottom: none !important;
}

.modal-content{
    border-radius: 0px !important;
    border: none !important;
}
